body {
  padding: 10px;
  font-family: sans-serif;
}


.bg-blue{
  background:#0A2470;
}

/* Menu */

.dropdown-menu .dropdown-item:hover {
  background: #ddd;
}
.active {
  background: #757575;
}

.navbar-expand-lg {
  padding: 0;
}

.navbar-brand {
  padding: 0;
}